h1 {
    color: whitesmoke;
    padding: 2%;
}
body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: burlywood;
    margin: 0;
}
section {
    background-color: cornsilk;
    color: darkblue;
    display: flex;
    flex-direction: row;
    padding: 2px;
}
div {
    background-color: darkgray;
    padding: 5%;
    margin:auto;
}
ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    padding: 10px;
}
button {
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}